/*=====================
    DELETE THIS
=====================*/
body {margin:0;padding:0;}
/*=====================
  Site Template Hack
=====================*/
#main-content .row {padding: 0 !important;margin: 0 !important;}
#main-content .row .column{padding: 0 !important;}

/*=====================
        Global
=====================*/
.flex {
  display: flex;
}
.flex-wrapper {
  font-size: 110%;
	display: flex;
	flex-direction: column;
  width: 100vw;
}
.flex-section {
  display: flex;
	width: 90%;
  min-height: 300px;
  padding: 0 5%;
}
.flex-section:nth-child(even) {
  background:lightgrey;
}
.flex-container {
  position: relative;
}
/*=====================
        Header
=====================*/
.flex-header {
  color: white;
  height: 350px;
  background: url(https://wanaryd.com/images/23bike.jpg) no-repeat;
  background-size: 100%;
  background-position: 50% 65%;
}

/*=====================
      Article Text
=====================*/
.hidden-title {
  display: none;
}
.article-text {
  font-size: 1em;
}

/*=====================
          List
=====================*/

.list-wrapper {
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-section {
  width: 90%;
  text-align:center;
}

.list-img {
  width: 100px;
}

.list-wrapper p {
  text-align: left;
}
.list-wrapper a {
  display: block;
  text-align: left;
}
